{% extends 'base.html.twig' %}

{% block title 'Symfony welcome ' %}

{% block body %}

	<div class="container text-center">
		<img class="img-fluid" src="{{asset('images/welcome.gif')}}" alt="welcome image">
		<h1 class="display-1 my-4">Hello Symfony</h1>
	</div>
{% endblock %}
